<div class="lrContainer">
  <mat-card class="lrCard">

    <mat-card-header>
      <mat-card-title>
        <h2>About</h2>
      </mat-card-title>
    </mat-card-header>

    <div id="aboutContent">
      <b>Example of skill for Waters Corporation</b>
      <p>Eric Hodge & Team</p>
      <mat-divider></mat-divider>
      <br />
      <p>
        I am a fun loving, open minded, husband, father, Maker, autocrossing Web Developer that doesn't believe in the limitations of one's hand.
        <br />
        <br />
        My realistic dream is to write applications that can help people in their day-to-day lives. If I can remove stress from one person in my lifetime 
        by writing a few<sub>hundred</sub> lines of code it'll all be worth it. ...as for unrealistic... I want to dance on the moon to Frank Sinatra's Fly Me To The Moon!
        <br />
        <br />
        It's hard to say who I am in a little about me page or what I'm like but over time and a few beers I'm sure you'll figure me out.
        <br />
        <br />
        Also... I love the web because it's the only platform that is truly accepted by everyone, regardless of operating system, country, or government, the web is what ties us all together.
        
      </p>
    </div>

  </mat-card>
</div>