<form novalidate (ngSubmit)="login(form.value)" [formGroup]="form" >
	<div class="lrContainer">
		<mat-card class="lrCard">

			<mat-card-header>
				<mat-card-title>
					<h2>Login</h2>
				</mat-card-title>
			</mat-card-header>
		
			<mat-form-field class="fullWidth">
				<input matInput placeholder="Username"
					[formControlName]="'userName'"
					[id]="'userName'"
					[type]="'text'"
					[name]="'userName'">
			</mat-form-field>

			<mat-form-field class="fullWidth">
				<input matInput placeholder="Password"
					[formControlName]="'password'"
					[id]="'password'"
					[type]="'password'"
					[name]="'password'">
			</mat-form-field>

			<button type="submit" mat-raised-button color="primary" [disabled]="!form.valid">Login</button>

		</mat-card>
	</div>
</form>