<div class="cardContainer">
  <mat-card id="watcherCard">
    <mat-card-header>
      <mat-card-title>
        <h2>Watch List</h2>
      </mat-card-title>
    </mat-card-header>
    <div>


  <div>
      <mat-nav-list>
          <mat-list-item *ngFor="let symbol of watchingSymbols">
            <div class="ipoContainer">
              
              <span>{{watchingIpos[symbol].quote.companyName}}</span>
              <div class="spacer"></div>
              
            </div>
          </mat-list-item>
        </mat-nav-list>
      </div>




    </div>


  </mat-card>
</div>