<div class="lrContainer">
    <mat-card class="lrCard">
  
      <mat-card-header>
        <mat-card-title>
          <h2>Admin</h2>
        </mat-card-title>
      </mat-card-header>
  
      <div id="adminContent">
        <b>Oops...</b>
        <mat-divider></mat-divider>
        <br />
        <p>
          Well it's Wednesday 9/12/2018 and with all the self inflicted scope creep I have run out of time to build this page.
          <br />
          <br />
          On the flip side yay the app is done!
        </p>
      </div>
      <button mat-raised-button color="primary" [routerLink]="['/home']">Back</button>
    </mat-card>
  </div>