<div class="cardContainer">
	<mat-card id="searchCard">
		<mat-card-header class="fullWidth">
			
			<div class="ipoContainer">
				<mat-card-title>
					<h2>Search IPO's</h2>
				</mat-card-title>
				
				<div class="spacer"></div>
				
				<button mat-icon-button [matMenuTriggerFor]="menu">
					<mat-icon class="addWatchListIcon" fontSet="fa" fontIcon="fa-bars" ></mat-icon>
				</button>

				<mat-menu #menu="matMenu">
					<button mat-menu-item [routerLink]="['/about']">About</button>
					<button mat-menu-item (click)="logout();" >Logout</button>
				</mat-menu>
			</div>
					
		</mat-card-header>

		<mat-form-field class="fullWidth">
			<input matInput placeholder="Company"
				[id]="'company'"
				[type]="'text'"
				[name]="'company'"
				(keyup)="searchCompany($event.target.value)">
		</mat-form-field>
		
		<mat-divider></mat-divider>

		<div class="listContainer" >
			<mat-nav-list>
				<mat-list-item *ngFor="let company of searchResults">
					<div class="ipoContainer">
						<img class="ipoMiniLogo" src="{{searchResultLogos[company.Symbol].logo.url}}"  (error)="imgError($event)">
						<span (click)="onSelect(company.Symbol)" >{{company.Name}}</span>
						<div class="spacer"></div>
						<mat-icon (click)="addToWatching(company.Symbol)" class="addWatchListIcon" fontSet="fa" fontIcon="fa-plus-circle" ></mat-icon>
					</div>
				</mat-list-item>
			</mat-nav-list>
		</div>
		
	</mat-card>
</div>