<div class="cardContainer">
	<mat-card id="searchCard">
		<mat-card-header>
			<mat-card-title>
				<h2>Search IPO's</h2>
			</mat-card-title>
		</mat-card-header>
		<mat-form-field class="fullWidth">
			<input matInput placeholder="Company"
				[id]="'company'"
				[type]="'text'"
				[name]="'company'"
				(keyup)="searchCompany($event.target.value)">
		</mat-form-field>
		
		<mat-divider></mat-divider>

		<div>
			<mat-nav-list>
				<mat-list-item *ngFor="let company of searchResults">
					<div class="ipoContainer">
						<img class="ipoMiniLogo" src="{{searchResultLogos[company.Symbol].logo.url}}"  (error)="imgError($event)">
						<span (click)="onSelect(company.Symbol)" >{{company.Name}}</span>
						<div class="spacer"></div>
						<mat-icon class="addWatchListIcon" fontSet="fa" fontIcon="fa-plus-circle" ></mat-icon>
					</div>
				</mat-list-item>
			</mat-nav-list>
		</div>
	</mat-card>
</div>